/************************************************/
/*               GLOBAL VARIABLES               */
/************************************************/

$color: (
  lightPrimary:   lighten(#FDC602, 10%),
  primary:        #FDC602,
  darkPrimary:    darken(#FDC602, 10%),
  lightSecondary: lighten(#04115E, 10%),
  secondary:      #04115E,
  darkSecondary:  lighten(#04115E, 10%),
  lightTertiary: lighten(#E20100, 10%),
  tertiary:      #E20100,
  darkTertiary:  lighten(#E20100, 10%),
  positive:       #74C080,
  negative:       #FF4949,
  warning:        #FFC82C,
  info:           #408FEC,
  black:          #4A4A4A,
  mirage:         #1F2D3D,
  steel:          #273444,
  slate:          #3C4858,
  silver:         #8492A6,
  smoke:          #E0E6ED,
  darkSmoke:      #D3DCE6,
  extraDarkSmoke: #C0CCDA,
  snow:           #F9FAFC,
  darkSnow:       #EFF2F7,
  extraDarkSnow:  #E5E9F2,
  white:          #FFFFFF
);

$body-background: map-get($color, white);
$body-font-color: map-get($color, black);


/*               GLOBAL STYLES               */
/*********************************************/

body.val {
  padding: 0;
  background-color: $body-background;
  color: $body-font-color;
  overflow-x: hidden;
  height: 100%;
  letter-spacing: 0;
  @extend .font-family-nunito;

  h2 {
    color: map-get($color, black);
    font-size: 2.5625rem;
    font-style: normal;
    font-stretch: normal;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0.7px;
  }

  h3 {
    color: map-get($color, black);
    font-size: 1.5625rem;
    font-style: normal;
    font-stretch: normal;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0.5px;
  }

  p {
    color: map-get($color, black);
    font-size: 1.375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
  }

  [v-cloak] {
    display:none;
  }
}