.val-header {
  box-shadow: 0 4px 4px 0 rgba(164, 164, 164, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .val-nav {
    align-items: center;
    display: flex;

    &__item {
      align-items: center;
      color: map-get($color, secondary);
      display: flex;
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      padding: 10px 35px 10px;
      @extend .link-reset;

      &.language {
        color: map-get($color, tertiary);
        text-decoration: underline;

        &:hover {
          color: map-get($color, darkTertiary) !important;
        }
      }

      &:hover {
        color: map-get($color, black);
        text-decoration: underline !important;
      }
    }

    .val-btn {
      margin-left: 35px;
    }
  }
}