.val-footer {
  align-items: center;
  background-image: url('../../assets/separator.svg');
  background-position: top left;
  background-repeat: repeat no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  width: 100%;

  .partners-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .partner {
      margin-right: 100px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(md) {
  .val-footer {
    .partners-list {
      flex-direction: column;

      .partner {
        margin-bottom: 50px;
        margin-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  .val-footer {
    .partners-list {
      flex-direction: column;

      .partner {
        margin-bottom: 50px;
        margin-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}