.val-footer {
  align-items: center;
  background-image: url('../../assets/separator.svg');
  background-position: top left;
  background-repeat: repeat no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  width: 100%;

  .partners-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .partner {
      margin-right: 100px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}